.vscode/
CMakeListsNewPC.txt
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/rules.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CMakeFiles/
build/manifest
build/main
build/replay
build/Makefile
build/.cmake/
build/*.manifest
build/*.log
build/*.mot
build/*.sto
build/*.mod
build/*.err
build/*.png
build/*.csv
build/results/
docs/ProcessedData/*/GUIAnalysis/
docs/Plots/__pycache__/*