.vscode/
CMakeListsBackup.txt
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/rules.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/*.manifest
build/CMakeFiles/
build/*.log
build/*.sto
build/*.mot
build/manifest
build/funcEvalVsCost
build/main
build/replay
build/optimization
build/replay_symmetric
build/Makefile
build/.cmake/
build/*.mod
build/*.err
build/results/*/
build/filteredFile.csv
build/costsData.csv
build/*.sto
build/*.mot